.button {
  background: $blue;
  border: none;
  display: inline-block;
  padding: $s-size;
  font-weight: 300;
  color: whitesmoke;
  font-size: $m-size;
  text-decoration: none;
  line-height: 1;
}
.button--link {
  background: none;
}
.button--remove {
  background: #888;
}
